body{
    background-color: rgb(183, 203, 219);
    font-family: Arial, Helvetica, sans-serif;
}

.portada{
    background-image: url("../img/fondoarbolesverde.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 600px;
}

.acercademi{
    border-top: solid 3px black;
}

.foto_acercademi{
    width:300px;
    height:300px;
    border-radius:160px;
    border:5px solid rgb(224, 217, 217);
}

.parrafo_acerca{
    font-size: large; 
    border-top:2px solid rgb(34, 51, 71);
}

.proyectos{
    background-color: rgb(80, 120, 153);
    border-top: solid 2px black;
}

.desafios{
    background-color: rgb(80, 120, 153);
    border-bottom: solid 2px black;
}

.fork_compañeros{
    background-color: rgb(183, 203, 219);
    border-bottom: solid 2px black;
}

.contacto{
    background-color: rgb(80, 120, 153);
    border-bottom: solid 2px black;
}

.titulo_uno{
    color: rgb(34, 51, 71);
}

.titulo_dos{
    color: rgb(244, 247, 255);
}

.fondo_carousel{
    background-color: rgb(34, 51, 71);
}

.links{
    color: white;
}

.botones{
    background-color: rgb(80, 120, 153);
    color: white;
    margin: 1px;
}

.botones_dos{
    background-color: rgb(34, 51, 71);
    color: white;
}